// Colors
thtrmBlue = #4D8799
thtrmDarkBlue = #3E6F7E
thtrmDarkerBlue = #123742
thtrmEvenDarkerBlue = #384c54

// Media
bigPhone = "(min-width: 420px)"
phablet = "(min-width: 640px)"
tablet = "(min-width: 840px)"
desktop = "(min-width: 990px)"
tv = "(min-width: 1500px)"