@import "_variables"

global-reset()

*,
*::before,
*::after
  box-sizing: border-box
html,
body,
button
  -moz-osx-font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0

body
  position: relative
  margin: 0
  font-family: 'Open Sans Pro', Helvetica, Arial, sans-serif
  box-sizing: border-box
  min-height: 100%

p
  margin: 0

ul
  margin: 0
  padding: 0
  list-style: none

@import "_partial/thtrm-constraint"
@import "_partial/thtrm-header"
@import "_partial/thtrm-banner"
@import "_partial/thtrm-section"
