<footer role="contentinfo" class="thtrm-footer thtrm-footer--slim">
  <div class="thtrm-footer-text">
    <img class="thtrm-footer-logo" alt="thoughtram brain" src="/images/thoughtram-brain-white.png">
    <p>This website was created in collaboration with <a href="http://twitter.com/timche_" title="Tim Cheung on Twitter"><strong>Tim Cheung</strong></a> and <a href="http://twitter.com/tim_hartmann_" title="Tim Hartmann on Twitter"><strong>Tim Hartmann</strong></a>.</p>
    <p ><a href="http://thoughtram.io/code-of-conduct.html" title="Code of Conduct">Code of Conduct</a> &bullet; <a href="http://thoughtram.io/imprint.html" title="Legal Notice">Legal notice</a></p>
    <p class="thtrm-footer-bottom">&copy; 2014-2017 thoughtram GmbH</p>
  </div>
</footer>
<%- partial('/google-analytics') %>
<% if(is_post()) { %>
  <%- partial('post/sticky') %>
  <script>
    (function (doc, win) {
      if (win.matchMedia && win.matchMedia('(min-width: 1200px)').matches) {
        var stickyElements = doc.querySelectorAll('.is-sticky');

        for (var i = stickyElements.length - 1; i >= 0; i--) {
          var el = stickyElements[i];

          if (el.classList.contains('thtrm-toc')) {
            el.classList.add('thtrm-toc--sticky');
            el.classList.add('thtrm-toc--faded');
          } 
          if (el.classList.contains('thtrm-ad')) {
            el.classList.add('thtrm-ad--sticky');
            el.classList.add('thtrm-ad--description');
          }

          Stickyfill.add(el);
        }
      }
    }(document, window));  
  </script>
<% } %>