<header id="header">
  <div class="thtrm-header-bar">
        <div class="thtrm-constraint">
          <a href="/" class="thtrm-header-logo-link" title="thoughtram.io Start Page"><h1 class="thtrm-header-logo">thoughtram</h1></a>
          <div class="thtrm-header-menu-wrapper">
            <span role="button" tabindex="0" class="thtrm-header-menu-label">Menu</span>
            <ul class="thtrm-header-menu">
              <li><a title="Training" class="thtrm-header-menu-item" href="http://thoughtram.io/training.html">Training</a></li>
              <li><a title="Code Review" class="thtrm-header-menu-item" href="http://thoughtram.io/code-review.html">Code Review</a></li>
              <li><a title="Casts" class="thtrm-header-menu-item " href="http://casts.thoughtram.io">Casts</a></li>
              <% if(is_home()) {%>
                <li><a title="Blog" class="thtrm-header-menu-item active" href="/">Blog</a></li>
              <% } else { %>
                <li><a title="Blog" class="thtrm-header-menu-item" href="/">Blog</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
</header>