<h2 class="thtrm-section-headline thtrm-section-headline--with-margin">Authors</h2>
  <div class="thtrm-table-layout">
    <div class="thtrm-table-layout-row thtrm-table-layout-row--with-three-columns thtrm-table-layout-row--with-three-columns--with-padding">
      <div class="thtrm-table-layout-cell">
        <div class="thtrm-instructor thtrm-instructor--christoph thtrm-instructor--has-overlay">
          <i class="thtrm-instructor-overlay-trigger material-icons">keyboard_arrow_down</i>
          <div class="thtrm-instructor-content">
            <h3 class="thtrm-instructor-name">Christoph Burgdorf</h3>
            <p class="thtrm-instructor-text thtrm-instructor-text--small">AngularJS Contributor and Angular Docs Author</p>
          </div>
          <div class="thtrm-instructor-overlay">
            <p class="thtrm-instructor-text">Christoph began programming at the age of 10. He is the creator of the Nickel.rs web framework and a contributor of the AngularJS project. Christoph is also part of the Angular Docs Authoring team.</p>
            <p><a class="thtrm-instructor-cta" href="http://twitter.com/cburgdorf" title="Christoph Burgdorf on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/cburgdorf" title="Christoph Burgdorf on GitHub">GitHub</a></p>
          </div>
        </div>
      </div>
      <div class="thtrm-table-layout-cell">
        <div class="thtrm-instructor thtrm-instructor--thomas thtrm-instructor--has-overlay">
          <div class="thtrm-instructor-content">
            <h3 class="thtrm-instructor-name">Thomas Burleson</h3>
            <p class="thtrm-instructor-text thtrm-instructor-text--small">Team Lead for Angular Material</p>
          </div>
          <i class="thtrm-instructor-overlay-trigger material-icons">keyboard_arrow_down</i>
          <div class="thtrm-instructor-overlay">
            <p class="thtrm-instructor-text ">Thomas was a late bloomer; programming at 24. He is a autodidact technologist with a passion for Angular, UX, and great software. Thomas is the Team Lead for Angular Material. He loves teaching, mentoring, and working with Angular developers.</p>
            <p><a class="thtrm-instructor-cta" href="http://twitter.com/thomasburleson" title="Thomas Burleson on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/thomasburleson" title="Thomas Burleson on GitHub">GitHub</a></p>
          </div>
        </div>
      </div>
      <div class="thtrm-table-layout-cell">
        <div class="thtrm-instructor thtrm-instructor--pascal thtrm-instructor--has-overlay">
          <i class="thtrm-instructor-overlay-trigger material-icons">keyboard_arrow_down</i>
          <div class="thtrm-instructor-content">
            <h3 class="thtrm-instructor-name">Pascal Precht</h3>
            <p class="thtrm-instructor-text thtrm-instructor-text--small">Google Developer Expert for the Angular Team</p>
          </div>
          <div class="thtrm-instructor-overlay">
            <p class="thtrm-instructor-text">Pascal is a front-end engineer and a Angular Developer Expert nominated by Google. He created the angular-translate module, is an Angular contributor and also part of the Angular Docs Authoring team.</p>
            <p><a class="thtrm-instructor-cta" href="http://twitter.com/PascalPrecht" title="Pascal Precht on Twitter">Twitter</a> <a class="thtrm-instructor-cta" href="http://github.com/PascalPrecht" title="Pascal Precht on GitHub">GitHub</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>