<% 
var strCategory;

switch(category) { 
    case 'angular':
        strCategory = "Angular";
        break;
    case 'announcements':
        strCategory = "Announcement";
        break;
    case 'angularjs':
        strCategory = "Angular";
        break;
    case 'git':
        strCategory = "Git";
        break;
    case 'rust':
        strCategory = "Rust";
        break;
    case 'rx':
        strCategory = "Rx";
        break;
    default:
        break;
} 
%>
<span class="thtrm-category-badge thtrm-category-badge--<%= category %>"><%= strCategory %></span>