<h2 class="thtrm-section-headline thtrm-section-headline--with-margin">More Articles</h2>
<div class="thtrm-cta-bar">
    <a href="/all/" title="All articles" class="thtrm-cta thtrm-cta--small">All articles</a>
</div>