<div class="thtrm-search">
  <form id="search-form" method="GET" action="https://www.google.com/search">
    <input id="search-term" type="search" name="as_q" placeholder="Search...">
    <input type="hidden" name="as_sitesearch" value="blog.thoughtram.io">
    <button type="submit" class="thtrm-cta thtrm-cta--small">Go</button>
  </form>
</div>